:root {
    /* kokomi's color pallete */
    --primary-color: #e8a39b;
    --baby-color: #f0c1bc; 
    --unbleached-color: #f6d4cb;
    --white-color: #f8f7fd;
    --lavender-color: #dccee8;
    --bluebell-color: #968dd0;
    --spacecadet-color: #2e2e52;

    /* other colors */
    --light-gray-color: #dddddd;
    --crimson-color: #ca8f87;

    /* other stuff */
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; 
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.main-bg {
    background-image: url('../img/scattered-forcefields.svg');
    background-size: 100%;
    background-position: center center;
    color: var(--white-color)
}

.white-bg {
    background-color: var(--white-color)
}

.unbleached-bg {
    background-image: url('../img/scattered-forcefields-white.svg');
    background-size: 100%;
    background-position: bottom center;
    color: var(--bluebell-color)
}

.bluebell-bg {
    background-image: url('../img/scattered-forcefields-bluebell.svg');
    background-size: 100%;
    background-position: center center;
    color: var(--spacecadet-color)
}

.bluecadet-bg {
    background-image: url('../img/endless-constellation.svg');
    background-size: 100%;
    background-position: center center;
    color: var(--white-color)
}

.main-content {
    max-width: 100rem;
    margin: 0 auto;
    padding: var(--gap);
}

.curiosities-content {
    max-width: 100%;
    padding: var(--gap);
}

.curiosities-content h2 {
    text-align: center;
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.15rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.logo {
    margin-left: 60px;
    font-size: 2.4rem;
    transition: all 150ms;
}

.logo:hover {
    color: var(--baby-color)
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    background: var(--crimson-color);
    height: 0.2rem;
    transition: all 175ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 62.5%;
    left: 18.75%;
}

.menu-spacing {
    height: 6.65rem;
}

.menu-logo {
    position: absolute;
    height: 100%;
}

.menu-logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu-logo .corner:hover{
    display: none;
}

.menu-logo .corner2{
    display: none;
}

.menu-logo .corner:hover ~ *{
    display: block;
}

.kokomi-text h2 {
    text-align: center;
}

.kokomi-content {
    position: relative;
    top: -0.75rem;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: var(--gap);
    min-height: 100vh;
    justify-items: center;
}

.kokomi-text, .kokomi-img {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.kokomi-img img {
    object-fit: cover;
    width: 80%;
    min-height: auto;
    border: 0.6rem solid var(--unbleached-color);
    border-radius: 50%;
    background: var(--unbleached-color);
}

.ordered-list-container {
    min-height: 100%;
}

#curiosities li {
    font-family: 'KoHo', sans-serif;
    font-size: 2.1rem;
    margin: 5rem 0;
    padding: 0 9rem;
    position: relative;
    list-style-type: disc;
    list-style-position: inside;
}

#curiosities li::before {
    content: '';
    height: 45px;
    width: 45px;
    position: absolute;
    right: 0;
    top: 20%; 
}

#curiosities li:nth-child(1)::before {
    background-image: url(../img/li1.png);
}

#curiosities li:nth-child(2)::before {
    background-image: url(../img/li2.png);
}

#curiosities li:nth-child(3)::before {
    background-image: url(../img/li3.png);
}

#curiosities li:nth-child(4)::before {
    background-image: url(../img/li4.png);
}

#curiosities li:nth-child(5)::before {
    background-image: url(../img/li5.png);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-flow: column wrap;
    place-self: center;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    gap: var(--gap)
}

.grid-text {
    text-align: center;
    margin-bottom: 8rem;
}

.grid-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 24rem;
    max-width: 24rem;
    overflow: hidden;
    border: var(--white-color) 1px solid;
    border-radius: 50%;
}

.grid-item-img img {
    max-height: 100%;
    max-width: 100%;
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}

.grid-item-img img:hover {
    transform: scale(1.3) rotate(5deg)
}

.contact-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 0.6fr 1fr;
    grid-gap: var(--gap);
    min-height: 100%;
    justify-items: center;
    align-items: center;
}

.contact-text {
    text-align: center;
}

.contact-img {
    width: auto;
}

.contact-img img {
    max-width: 25rem;
    max-height: 25rem;
    border: var(--lavender-color) 4px solid;
    border-radius: 100%;
    background-color: var(--spacecadet-color)
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 auto;
}

.form-group label {
    display: block;
}

.form-group input, .form-group textarea {
    border: 1px solid var(--spacecadet-color);
    box-sizing: border-box;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.75rem;
}

body .full {
    width: 100%;
    flex: 1 1 100%;
}

.form-group {
    font-weight: 700;
}

.form-group ::placeholder {
    color: #0000003a;
}

.form-group button {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 5px solid var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.75rem;
    color: var(--white-color);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--bluebell-color);
}

.form-group input:focus, .form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 6px var(--spacecadet-color);
}

.footer {
    color: var(--crimson-color);
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.heart {
    color: var(--primary-color);
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #947572;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
}

@media (max-width: 800px) {
    .kokomi-content, .gallery-imgs {
        grid-template-columns: 1fr;
    }

    .contact-img {
        grid-column: span 2;
    }

    .contact-text {
        grid-column: span 2;
    }

    .gallery-imgs {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-imgs img {
        width: 100%;
    }
    
    .grid-item-img {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .logo {
        margin: 0;
    }

    .corner, .corner2 {
        display: none;
    }

    .menu-spacing {
        display: none;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border: 2px solid #bb9591;
        border-radius: 15%;
        transition: all 200ms ease-in-out;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        /* content is an unicode multiplication sign, not to be confused with 'x' */
        content: '×';
    }

    #curiosities li {
        padding: 0;
        width: 80%;
    }

    #curiosities li:before {
        right: -100px;
    }
}

@media (max-width: 550px) {
    .kokomi-img {
        width: 75vw;
    }

    .kokomi-text h2 {
        font-size: 4.5rem;
    }
}

@media (max-width: 400px) {
    h2, .kokomi-text h2 {
        font-size: 3.5rem;
    }

    footer p {
        font-size: 1.5rem;
    }
}